{{ $iface := .Interface }}

global_defs {
  vrrp_version 3
  vrrp_iptables {{ .IptablesChain }}
}

vrrp_instance vips {
  state EQUAL
  interface {{ $iface }}
  virtual_router_id 50
  nopreempt
  advert_int 1

  track_interface {
    {{ $iface }}
  }

  virtual_ipaddress { {{ range .Vips }}
    {{ . }}{{ end }}
  }
}
